@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ================ common code start here ================ */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    list-style: none;
}


html{

    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 62%;
}
.container{

    width: 1200px;
    margin: 0 auto;
}

.common_btn{

    border: 2px solid #000;
    background: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    color: #000;
    transition: all linear 0.3s;
}

.common_btn:hover{

    border: 2px solid transparent;
    background: #6C6C6C;
    color: #fff;
}
/* ================ common code start here ================ */


/* ================ navbar code start here ================ */

.logo img{

    width: 100px;
}

#nav{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 40px;
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    z-index: 1000;
}

.navbar{

    display: flex;
    align-items: center;
    column-gap: 24px;
}


.navbar li a{

    color: #000;
    font-size: 22px;
    font-weight: 500;
    position: relative;
}

.navbar li a::after{

    content: ' ';
    width: 0;
    height: 3px;
    background: #fac404;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all linear 0.3s;
    bottom: -6px;
}

.navbar li a:hover::after{

    width: 80%;
}


#menubar{
    
    width: 50px;
    height: 50px;
    background: #eee;
    display: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1001;
}

#menubar::after{
  
    content: ' ';
    width: 0;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: all linear 0.3s;

}

#menubar:hover::after{

    width: 100%;
}

#menubar:hover{

    color: #fff;
}
/* ================ navbar code end here ================ */



/* ================ home code start here ================ */
#home{

    padding: 128px 0 40px 0;
    background: #eee;
}

#home_card{

    display: flex;
    column-gap: 120px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 9rem;
    padding-top: 3%;
}

.home_content{

    flex: 1 1 40rem;
}

.home_content h1{
    
    font-size: 45px;
    font-weight: 500;
    line-height: 50px;
    
}

.home_content p{

    font-size: 14px;
    color: #6C6C6C;
    text-align: justify;
    margin: 40px 0;
}
.home_image{

    flex: 1 1 50rem;

}

.home_image img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ================ home code end here ================ */




/* ================ about code start here ================ */

#about{

    padding: 120px 0 120px 0;
}

.about_heading h1{

    text-align: center;
    font-size: 54px;
    font-weight: 400;

}

.about_main{

    display: flex;
    align-items: center;
    column-gap: 120px;
    flex-wrap: wrap;
    padding: 0 9rem;
    padding-top: 4%;
}

.about_img{

    width: 520px;
    height: 320px;
    overflow: hidden;
}

.about_img img{

    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 30px;
}
.about_content{

    
    flex: 1 1 40rem;
}

.about_content h2{

    font-size: 26px;
}

.about_content p{

    font-size: 16px;
    margin: 30px 0;
    text-align: justify;
    line-height: 42px;
    color: #6C6C6C;
    font-weight: 400;
}
/* ================ about code end here ================ */

/* ================ Departmen code start here ================ */


    #department{
        background: #eee;
        padding: 120px 0 120px 0;

    }

    .Common-heading h1{
        font-size: 45px;
        font-weight: 500;
        text-align: center;
        padding-bottom: 20px;
    }

    .department-main{
        width: 85%;
        margin: 0 auto;
        display: flex;
        gap: 4.5rem;
        flex-wrap: wrap;
    }

    .department-card{
        
        flex: 1 1 35rem;
        padding: 10px 0;
        background: #fff;
        border-radius: 10px;
        transition: all linear 0.3s;
    }
    
   

    .department-image{

        width: 400px;
        height: 300px;
    }

    .department-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 10px;
        border-radius: 10px;
    }


    .department-card h1{
        font-size: 16px;
        padding: 10px;
    }

    .department-card p{
        font-size: 12px;
        color: #6C6C6C;
        text-align: justify;
        padding: 10px;
        margin-bottom: 20px;
    }

    .department_btn .common_btn{
        display: inline-block;
        margin-left: 10px;
    }
    
    .department-main .department-card:nth-child(2) .department_btn .common_btn{

        margin-top: 20px;
    } 
    
    .department-main .department-card:nth-child(4) .department_btn .common_btn{

        margin-top: 20px;
    }

    .department-main .department-card:nth-child(6) .department_btn .common_btn{

        margin-top: 20px;
    } 

    .department-main .department-card:nth-child(9) .department_btn .common_btn{

        margin-top: 20px;
    }
/* ================ Departmen code end here ================ */


/* ================ gallery code start here ================ */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    flex: 1 1 20rem;
    max-width: 25%;
    padding: 0 4px;
    
  }
  
  .column_img{
    flex: 1 1 40rem;
    width: 365px;
    height: 220px;
    overflow: hidden;
    background: #000;
    border-radius: 10px;
    position: relative;
  }
  .column .column_img img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.3s;
    opacity: 0.5;
    
  }
  .column_img h1{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: #fff;
    opacity: 1;
    transition: all linear 0.3s;
  }

   .column_img:hover h1{
    
    top: 10%;
    left: 30%;
    transform: translateX(-10px);
    opacity: 1;
  }
  .column .column_img img:hover{

    transform: scale(1.1);
  }
/* ================ gallery code end here ================ */


/* ================ contact code start here ================ */

  

.order form{
    max-width: 90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, .2);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
    margin-bottom: 25px;
}

.Common-heading{
    padding-top: 25px;
}

.order form .input-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .input-box .input{
    width: 49%;
}

.order form .input-box .input span{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.order form .input-box .input input,
.order form .input-box .input textarea{
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.order form .input-box .input inpu:focus,
.order form .input-box .input textarea:focus{
    border: .1rem solid var(--green);
}

.order form .input-box .input textarea{
    height: 20rem;
    resize: none;
}

.send_btn{
    margin-top: 18px;
    margin-bottom: 5px;
}

/* ================ contact code end here ================ */


/* ================ footer  code start here ================ */

.footer{
    margin-top: 5%;
    padding-top: 35px;
    background: #eee;
}

.footer .box-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: #000;
}

.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover{
    color: #008000;
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem dotted rgba(0, 0, 0, .1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color: #008000;
}

/* ================ footer code end here ================ */


/* ================ common code start here ================ */
/* ================ common code end here ================ */






















/* ================ media query start here ================ */

@media(max-width:991px){
    
    #nav{

        padding: 0 50px;
    }
    html{

        font-size: 52%;
    }

    .logo img{
    
        margin-left: -30px;
        
    }
}


@media(max-width:768px){

     #menubar{

        display: block;

    }
    
    .navbar{

        position: absolute;
        top: 100%;
        left: 10%;
        right: 10%;
        width: 80%;
        display: flex;
        flex-direction: column;
        background: #eee;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);
    }

    .navbar li{

        margin: 20px 0;

    }

    .navbar.active{

        clip-path: polygon( 0 0,100% 0,100% 100%, 0 100%);
    }

    #home_card{

        padding: 0 3rem 0 3rem;
       
    }
    
    .about_main{

        padding: 0 3rem;
        padding-top: 4%;
    }
    
    .about_content h2{

        font-size: 18px;
        margin-top: 2%;

    }

    .department-main{
        padding: 0 3rem;
        margin-right: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .column{
        flex: 100%;
        max-width: 100%;
      }
    
      .department-image{

        width: 280px;
        height: 180px;
    }

    .department-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 10px;
        border-radius: 10px;
    }
}

/* ================ media query end here ================ */